# Exemple de configuration SMTP pour l’envoi du formulaire de contact

ADMIN_EMAIL=ahumbert.w@gmail.com
ADMIN_PASSWORD=Audrey123+
JWT_SECRET=change-me-secret

# Pour l’envoi d’email via Nodemailer
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=ton-utilisateur-smtp
SMTP_PASS=ton-mot-de-passe-smtp

# Destinataire du formulaire de contact (optionnel)
CONTACT_TO=ahumbert.w@gmail.com
